In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
import sqlalchemy

### Read From Database

#### 1.Create connection

In [7]:
host='lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com'
port='5432'
user='lhl_student'
pwd='lhl_student'
database='mid_term_project'

#format:dialect+driver://username:password@host:port/database
connection = sqlalchemy.create_engine(f"postgresql://{user}:{pwd}@{host}:{port}/{database}")

#### 2. Use DataFrame to read Data

In [10]:
df=pd.read_sql_query('''SELECT fl_date, arr_delay FROM flights''', connection)

In [11]:
df.head()

      fl_date  arr_delay
0  2018-10-05       11.0
1  2018-10-05       15.0
2  2018-10-05       -3.0
3  2018-10-05       -7.0
4  2018-10-05      -17.0

In [12]:
df_time=pd.read_sql_query('''SELECT crs_dep_time,dep_time,crs_arr_time,arr_time from flights''', connection)

In [ ]:
df_city=pd.read_sql_query('''SELECT origin_city_name, dest_city_name FROM flights''', connection)